# Project Information
site_name: WOT's site
site_description: Wuhu OI Team's site
site_author: Wuhu OI Team
site_url: https://wuhuoiteam.github.io
strict: false

# Repository
repo_name: 'WuhuOITeam/wuhuoiteam.github.io'
repo_url: 'https://github.com/WuhuOITeam/wuhuoiteam.github.io'

# Copyright
copyright: 'Copyright &copy; 2024 - 2024 WOT'

# Contents
nav:
  - 主页: 
    - 主页: index.md
    - 新用户必读: basic/新用户必读.md 
    - 《WOT 规章》: back/20240712.md
  - 信息: 
    - 新用户必读: basic/新用户必读.md 
    - 前世今生: basic/history.md
    - 日报: basic/daily-post.md
  - 日报:
    - 首页: daily/index.md
    - 2024日报:
      - 第1期: daily/2024/1.md
      - 第2期: daily/2024/2.md
      - 第3期: daily/2024/3.md
    # - 2025日报预定:
  - 文件存档:
    - 首页: back/index.md
    - 20240203文件: back/20240203.md
    - 20240204文件: back/20240204.md
    - 20240205文件: back/20240205.md
    - 20240209文件: back/20240209.md
    - 20240224文件: back/20240224.md
    - 20240405文件: back/20240405.md
    - 20240406文件: back/20240406.md
    - 20240406文件II: back/20240406II.md
    - 20240407文件: back/20240407.md
    - 20240409文件: back/20240409.md
    - 20240410文件: back/20240410.md
    - 20240412文件: back/20240412.md
    - 20240630文件: back/20240630.md
    - 20240712文件: back/20240712.md
# Theme
theme:
  name: material
  static_templates:
    - 404.html
  language: 'zh'
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: red
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  include_search_page: false
  search_index_only: true
  favicon: 'favicon.ico'
  icon:
    logo: 'material/school'
  features:
    - content.action.edit
    - navigation.tabs
    - navigation.instant
  font:
    text: 'Fira Sans'
    code: 'Fira Mono'

plugins: []

# Customization
extra:
  disqus: 'WOT'
  copyright: '<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh">CC BY-SA 4.0</a> 和 <a href="https://github.com/zTrix/sata-license">SATA</a>'
  pagetime: 'on'
  manifest: 'manifest.webmanifest'
  githash: ''
  analytics:
    provider: google
    property: UA-124485594-1

extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.css

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - javascripts/katex.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/contrib/auto-render.min.js

# Extensions
markdown_extensions:
  - admonition
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: ""
      slugify: !!python/name:pymdownx.slugs.uslugify
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.highlight:
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.progressbar
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: math
          class: arithmatex
          format: !!python/name:pymdownx.arithmatex.fence_mathjax_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true